{% extends "index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
{% block info %}
    <div class="container">
    <h1 style="margin-bottom: 5%;margin-top: 5%">Ballstracker</h1>

    <h2 >Schritt 1</h2>

    <p>Zur Seite Kaliebrierung gehen und die Webcamera aktivieren  und in Browser erlauben</p>

    <h2 style="margin-top: 5%;">Schritt 2</h2>

    <p>Abstand zwischen dem Menschen und der Webcamera soll ca. 1 Meter sein.
    Für bessere Gesichtserkennung den Kopf ein bisschen nach oben und
        nach unten bewegen</p>

    <h2 style="margin-top: 5%;">Schritt 3</h2>

    <p>Wenn die grüne Maske fest auf dem Gesicht liegt, die Kalibrierung
        anfangen.</p>
    <p>a) Schauen Sie immer auf den Mauszeiger</p>
    <p>b) Bewegen Sie die Maus auf dem Bildschirm und suchen Sie mit der Maus verschiedene</p>
    Positionen auf dem Bildschirm
    <p>c) Drücken Sie die Leertaste</p>
    <p>d) Wiederholen Sie obengenannte Punkte vom Schritt 3 (a,b,c) ungefähr 20 mal</p>
    <p>e) Drücken Sie "Train" Taste auf dem Bildschirm, es erscheint ein roter Kreis auf
    dem Bildschirm</p>
    <p>f) Clicken Sie auf eine beliebige Stelle auf der Webseite, um die Markierung
    von "Train-button" zu entfernen</p>

    <p>Wenn der rote Kreis Ihrem Blick nicht eindeutig folgt, wiederholen Sie
    den Schritt 3 noch einmal</p>

    <h2 style="margin-top: 5%;">Schritt 4</h2>

    <p>Wenn alles funktioniert, clicken Sie die Seite "Sprache" an.
    Man soll auf jedes Tier mindestens eine Sekunde schauen, um ein endsprechendes
    Tiergeräusch zu hören</p>

    <h2 style="margin-top: 5%;">Hinweis: </h2>
        <a>Wenn der Mauszeiger zu klein ist, vergrößern Sie ihn bei den Einstellungen
            Ihres Computers</a>

    <p>Einstellung -> Cursor&Zeiger -> Muszeiger vergrößern</p>
    </div>
    <hr class="my-4">
    <nav class="navbar navbar-bottom navbar-light justify-content-center">
        <ul class="nav-item">
            <a class="text-muted" style="font-size: 0.8em">© 2020 | Ballstracker</a>
        </ul>
    </nav>
{% endblock %}
</body>
</html>