{% extends 'index.html' %}
{% load static %}

{% block eyes %}
    <video id="webcam" width="400" height="300" autoplay></video>
    <canvas id="overlay" width="400" height="300"></canvas>
    <canvas id="eyes" width="50" height="25"></canvas>
    <img src="{% static "Schwein.png" %}" id="pig">
    <img src="{% static "Dog.png" %}" id="dog">
    <audio id="sounds">
        <source src="{% static "Dog.wav" %}" type="audio/wav">
    </audio>
    <audio id="sounds1">
        <source src="{% static "Pig.wav" %}" type="audio/wav">
    </audio>
    <audio id="sounds2">
        <source src="{% static "Ja.wav" %}" type="audio/wav">
    </audio>
    <audio id="sounds3">
        <source src="{% static "Nein.wav" %}" type="audio/wav">
    </audio>
{#    <button type="button" class="btn btn-success" id="test">Test</button>#}
    <button type="button" class="btn btn-primary" id="train">Train!</button>

    <div id="target"></div>
    <div class="row no-gutters">
        <div class="col no-gutters">
            <div id="leftHalf1"></div>
        </div>
        <div class="col no-gutters">
            <div id="rightHalf1"></div>
        </div>
    </div>
    <div id="textOben">
    <h1>Side</h1>
    </div>
    <div id="ja">
    JA
    </div>
    <div id="nein">
        Nein
    </div>

{% endblock %}
{% block tracker %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.12.0"></script>
    <script src="{% static 'clmtrackr.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
{% endblock %}
{% block info %}
{% endblock %}